
.about {
    z-index: 10;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 450px;
    line-height: 1.8;

    @include mobile {
      max-width: 300px;
      text-align: center;
      margin: 0 20px;
    }

    h1 {
      font-size: 40px;
      font-weight: 500;
      color: $dark-violet;
    }

    p {
      font-size: 16px;
      margin-top: 20px;
      color: $dark-gravysh;
      font-weight: 500px;
    }
  }