.header-phone {
  border-radius: 20px 20px 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $gd-color;
  height: 70px;

  .arrow {
    width: 18px;
    height: 18px;
    position: relative;
    bottom: -2px;
    right: -2px;

    &::before {
      content: "";
      width: 7px;
      height: 2px;
      background-color: $bg-app;
      position: absolute;
      top: 5px;
      left: 10px;
      transform: rotate(50deg);
      border-radius: 3px;
    }
    &::after {
      content: "";
      width: 7px;
      height: 2px;
      position: absolute;
      top: -0px;
      left: 10px;
      transform: rotate(-50deg);
      background-color: $bg-app;
      border-radius: 3px;
    }
  }
  .profile {
    display: flex;
    justify-content: left;
    align-items: end;
    align-self: flex-end;
    margin: 15px 0;
    gap: 10px;
    position: relative;
    .arrow {
      position: relative;
    }
    img {
      border-radius: 50%;
      width: 25px;
      height: 25px;
      border: 1px solid $bg-app;
    }
  }
  h1 {
    font-weight: 400;
    margin-top: 2px;
    font-size: 12px;
    color: $bg-app;
  }
  h2 {
    font-size: 8px;
    color: rgba(210, 210, 210, 0.483);
    margin-top: 2px;
  }

  .menu {
    width: 2px;
    height: 2px;
    position: relative;
    left: -20px;
    bottom: -4px;
    background-color: white;

    &::before {
      content: "";
      width: 2px;
      height: 2px;
      position: absolute;
      left: 0;
      bottom: -8px;
      background-color: white;
      border-radius: 50%;
    }
    &::after {
      content: "";
      width: 2px;
      height: 2px;
      position: absolute;
      left: 0;
      bottom: -4px;
      border-radius: 50%;
      background-color: white;
    }
  }

  &::before {
    content: "";
    display: block;
    width: 130px;
    height: 20px;
    background-color: $bg-app;
    position: absolute;
    right: 24.5%;
    top: 7px;
    position: absolute;
    border-radius: 0 0 12px 12px;
  }
}
