.messages {
  .message-1 {
    position: relative;
    p {
      color: $text-violet;
      font-size: 8px;
      margin: 10px;
      padding: 10px;
      background-color: hsl(272, 65%, 91%);
      width: 130px;
      border-radius: 10px 10px 10px 3px;

      &:nth-child(1) {
        opacity: 0;
        animation: slide 0.9s forwards;
        transition-timing-function: ease-in;
        animation-delay: 0.5s;
        transform: translateX(-150px);
      }
      &:nth-child(2) {
        opacity: 0;
        animation: slide 0.9s forwards;
        transition-timing-function: ease-in;
        animation-delay: 1.2s;
        transform: translateX(-150px);
      }

      @keyframes slide {
        100% {
          transform: translateX(0px);
          opacity: 100%;
        }
      }
    }
  }

  .message-2 {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    .dogs {
      display: flex;
      justify-content: end;
      align-items: center;
    }
    img {
      width: 40px;
      height: 40px;
      margin: 0 5px;
      border-radius: 10px;

      &:nth-child(1) {
        opacity: 0;
        animation: appear 0.9s forwards;
        transition-timing-function: ease-in;
        animation-delay: 2s;
      }
      &:nth-child(2) {
        opacity: 0;
        animation: appear 0.9s forwards;
        transition-timing-function: ease-in;
        animation-delay: 2.5s;
      }
      &:nth-child(3) {
        opacity: 0;
        animation: appear 0.9s forwards;
        transition-timing-function: ease-in;
        animation-delay: 3s;
      }

      @keyframes appear {
        100% {
          opacity: 100%;
        }
      }
    }
    p {
      color: hsl(271, 15%, 43%);
      font-size: 8px;
      margin: 10px;
      padding: 10px;
      background-color: hsl(0, 0%, 96%);
      width: 130px;
      border-radius: 10px 10px 3px 10px;
      box-shadow: 3px 3px 10px rgb(205, 202, 202);

      &:nth-child(2) {
        opacity: 0;
        animation: slide-right 0.9s forwards;
        transition-timing-function: ease-in;
        transform: translateX(150px);
        animation-delay: 4s;
   
      }

      &:nth-child(3) {
        opacity: 0;
        margin: 0 10px;
        width: 85px;
        animation: slide-right 0.9s forwards;
        transition-timing-function: ease-in;
        transform: translateX(150px);
        animation-delay: 4.5s;
      }

      @keyframes slide-right {
        100% {
          opacity: 100%;
        transform: translateX(0px);
        }
        
      }
    }
  }

  .message-3 {
    .m-1 {
      color: $text-violet;
      font-size: 8px;
      margin: 10px;
      padding: 10px;
      background-color: hsl(272, 65%, 91%);
      border-radius: 10px 10px 10px 3px;
      max-width: 130px;
      opacity: 0;
      animation: slide 0.9s forwards;
      transition-timing-function: ease-in;
      animation-delay: 5.5s;
      transform: translateX(-150px);
    }

  

    .price {
      background-color: red;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 160px;
      border-radius: 10px 10px 10px 3px;
      background: $bg-gradient;
      padding: 8px;
      margin: 10px;
      font-size: 8px;
      color: $bg-app;
      background: $gradient-invert;

      &:nth-child(2){
        opacity: 0;
        animation: appear 0.9s forwards;
        transition-timing-function: ease-in;
        animation-delay: 6.5s;
      }
      &:nth-child(3){
        opacity: 0;
        animation: appear 0.9s forwards;
        transition-timing-function: ease-in;
        animation-delay: 7s;
         }
      span {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.315);
      }
      .value {
        text-align: start;
        font-weight: 700;
        font-size: 12px;
      }
    }

    .p-circle {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }
}

.input-text {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
  border-radius: 15px;
  background-color: hsl(0, 0%, 96%);
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgb(205, 202, 202);

  p {
    font-size: 10px;
    text-align: center;
    margin-left: 20px;
    color: hsl(270, 7%, 64%);
  }

  .submit {
    background-color: hsl(271, 36%, 24%);
    width: 25px;
    height: 25px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 50%;
  }
}
