@import "./reset.scss";
@import "./variables.scss";
@import "./header-phone.scss";
@import "./global-content.scss";

.message-1 {
  p {
    color: $text-violet;
    font-size: 8px;
    margin: 10px;
    padding: 10px;
    background-color: hsl(272, 65%, 91%);
    width: 130px;
    border-radius: 10px 10px 10px 3px;

    &:nth-child(2) {
      display: block;
    }
  }
}

.message-2 {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  .dogs {
    display: flex;
    justify-content: end;
    align-items: center;

    img {
      width: 40px;
      height: 40px;
      margin: 0 5px;
      border-radius: 10px;
    }
  }
  p {
    color: hsl(271, 15%, 43%);
    font-size: 8px;
    margin: 10px;
    padding: 10px;
    background-color: hsl(0, 0%, 96%);
    width: 130px;
    border-radius: 10px 10px 3px 10px;
    box-shadow: 3px 3px 10px rgb(205, 202, 202);

    &:nth-child(3) {
      margin: 0 10px;
      width: 85px;
    }
  }
}

