$gd-color: linear-gradient(90deg, rgba(136,56,255,1) 25%, rgba(233,66,255,1) 100%);
$bg-app: hsl(270, 20%, 96%);
$text-violet: hsl(276, 55%, 52%);
$place-holder: hsl(206, 6%, 79%);
$pink-style: hsl(289, 100%, 72%);
